.game {
    width: 600px;
    height: 200px;
    border-bottom: 1px solid #000;
    margin: 0 auto;
}

.description {
    margin-top: 5%;
    text-align: center;
    font-size: 50px;
}

#player {
    position: relative;
    top: 150px;
    width: 50px;
    height: 50px;
    background-image: url("./img/player.png");
    background-size: 50px 50px;
}

#damper {
    position: relative;
    top: 110px;
    left: 560px;
    width: 40px;
    height: 40px;
    background-image: url("./img/damper.png");
    background-size: 40px 40px;
}

.start {
    width: 600px;
    height: 40px;
    display: block;
    margin: 0 auto;
}

.animate {
    animation: damperMove 2s infinite linear;
}

.active {
    animation: jumpActive 0.5s linear;
}

@keyframes damperMove {
    0% {
        left: 560px;
    }

    100% {
        left: -40px;
    }
}

@keyframes jumpActive {
    0% {
        top: 150px;
    }

    20% {
        top: 100px;
    }

    50% {
        top: 50px;
    }

    80% {
        top: 100px;
    }

    100% {
        top: 150px;
    }
}